.logoContainer{
    z-index: 10000;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction:row;
}


#about{
    font-size: large;
    padding-left: 1vh;
}

#contact{
    position: fixed;
    font-size: large;
    right: 0;
}