.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content: space-between;
    width: 97%;
    margin-top: 1.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    z-index: 7;
}

.opaque {
    opacity: 0.3;
}

.logo-image {
    height: 5.5vw;
}

#logo-animation {
    height: 5.5vw;
}

.logo {
    cursor: pointer;
}

.instagram {
    cursor: pointer;
    height: 100%;
}

.header-button {
    height: 100%;
    color: white;
    cursor: pointer;
    z-index: 7;
}

.menu-option {
    margin-top: 8%;
    color: white;
    cursor: pointer;
}

.hide {
    animation: growUp 200ms ease-in-out forwards;
    transform-origin: top center;
}

.show {
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
    visibility: visible;
}

.menu-options {
    font-size: 2em;
    position: fixed;
    left: 3%;
    top: 7%;
    z-index: 6;
    visibility: hidden;
}

.menu-option:hover, .button-selected {
    color: indianred;
}

@media only screen and (max-width: 600px) {
    .logo-image {
        height: 12vw;
    }

    .header {
        margin-top: 6%;
    }
}

@keyframes growUp {
    0% {
        transform: scaleY(1)
    }
    100% {
        transform: scaleY(0)
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}