.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7em;
    color: white;
    align-items: center;
    z-index: 99999;
    background: url('https://d2njbbkhc1pb2y.cloudfront.net/public/resources/FUEGO.png'), linear-gradient(0deg, rgba(255, 0, 0, 1), rgba(0, 0, 0, 0.4682247899159664) 88%) repeat-x center;
    background-size: contain;
    vertical-align: bottom;
}

.footer-icon {
    margin-right: 5%;
    cursor: pointer;
    color: white;
    font-size: 3em;
}

#footer-image {
    height: 70%;
}

.logo-image-footer {
    height: 100%;
}

#footer-contact {
    margin-left: 3em;
    width: 12em;
    align-items: center;
    font-weight: 500;
}

#footer-media {
    display: flex;
    flex-direction: row;
    margin-right: 3em;
    width: 12em;
    justify-content: space-between;
}